.modalBackground {
  width: 500px;
  height: 350px;
  border: 2px solid #faef5d;
  border-radius: 15px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 500px;
  height: 200px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer {
  display: inline-block;
  text-align: center;
}
.title {
  font-size: 2rem;
  margin: 10px;
  display: inline-block;
  text-align: center;
  color: #faef5d;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-start;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 1px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  width: 100px;
  height: 35px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

#cancelBtn {
  background-color: crimson;
}
.address {
  display: block;
  margin: auto;
  height: 30px;
  width: 330px;
  text-align: center;
}

/* .address,
.address:focus,
.address:active {
  font-size: 1rem;
  text-align: center;
  width: 28vw;
  line-height: 2;
  box-shadow: none;
  color: #faef5d;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 2px solid #faef5d;
} */

/* input[type="text"]:focus {
  background-color: lightblue;
} */
